@model IEnumerable<BFTFLoan.Models.ViewModels.InvestmentVM>

@{
    ViewBag.Title = "我的投資";
}

<h2>我的投資</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IRR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IRR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.ActionLink("詳細資料", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
